*{
  margin: 0;
  padding:0 ;
}
img{
  cursor: pointer;
}
.row-poster-img{
  width: 100%;
  object-fit: contain;
  max-height: 150px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row-poster{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}
.row-poster::-webkit-scrollbar{
  display: none;
}
.row-poster img:hover{
  transform: scale(1.08)
}
.row_posterLarge{
  max-height: 350px;
}
.row_posterLarge img:hover{
  transform: scale(1.12);
}